@use "variables";
// @use "sass:math";

@keyframes slide {
  from {
    transform: rotate(0);
    opacity: 0;
  }
  to {
    opacity: 1;
    from {
      transform: rotate(70deg);
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}

.product-device {
  position: absolute;
  bottom: -30%;
  width: 200px;
  height: 540px;
  background-color: rgba(1, 255, 128, 0.3);
  border-radius: 21px;
  transform: rotate(60deg);
  animation: slide 0.5s linear;
}

.product-device-2 {
  top: 25%;
  transform: rotate(40deg);
  background-color: rgba(1, 255, 128, 0.5);
}

.product-device-3 {
  top: 15%;
  left: -5%;
  background-color: rgba(1, 255, 128, 0.7);
  transform: rotate(25deg);
}
.product-device-4 {
  top: 5%;
  left: -10%;
  background-color: rgba(1, 255, 128, 0.8);
  transform: rotate(05deg);
}

/*
     * Extra utilities
     */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

///
///

.cloud {
  top: -45%;
  scale: 0.8;
  animation: slideDown 0.5s linear;

  .cloud-part-1 {
    position: relative;
    background-color: #37deff;
    width: 150px;
    height: 120px;
    border-radius: 50%;
    .cloud-part-2 {
      position: absolute;
      background-color: #37deff;
      width: 187px;
      top: -30px;
      left: 60px;
      height: 150px;
      border-radius: 50%;
    }
    .cloud-part-3 {
      width: 186px;
      top: -22px;
      left: 130px;
      height: 156px;
    }
  }
}

.cloud-shadow {
  top: 0px;
  left: 15px;
  opacity: 0.08;
  scale: 0.8;
}

.cloud-2 {
  left: 30%;
  top: -60%;
}

.tree {
  bottom: 0;
  left: 70%;
  scale: 0.8;
  animation: slideIn 0.5s linear;
  .trunk {
    width: 120px;
    height: 250px;
    background-color: brown;
    box-shadow: 0 0 10px #333;

    .trunk-1 {
      right: 72%;
      width: 220px;
      height: 300px;
      border-radius: 50%;
      background-color: #fff;
    }

    .trunk-2 {
      right: -160%;
      width: 220px;
      height: 300px;
      border-radius: 50%;
      background-color: #fff;
    }
    .trunk-3 {
      right: 45%;
      transform: rotate(358deg);
      bottom: 64%;
      width: 20px;
      height: 50px;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;
      background-color: #ffffff;
    }
  }

  .capony {
    top: -92%;
    left: 141%;
    .canopy-1 {
      top: 100px;
      width: 240px;
      right: -109px;
      height: 170px;
      border-radius: 50%;
      background-color: #5cda5c;
      transform: rotate(-40deg);
    }
    .canopy-2 {
      top: -100%;
      right: -46%;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      background-color: #5cda5c;
      box-shadow: -6px 0 7px #99999961;
    }

    .canopy-1-shadow {
      background-color: #6afa6a;
      opacity: 0.5;
      scale: 0.8;
      top: 78px;
    }
    .canopy-2-shadow {
      background-color: #6afa6a;
      opacity: 0.5;
      scale: 0.8;
      left: -328px;
      top: -27px;
      width: 285px;
      height: 352px;
    }
  }
}

.land {
  background-color: #37deff;
  top: 20px;
  .land-1 {
    background-color: rgb(169, 231, 110);
    top: -86px;
    border-radius: 50%;
    left: -138px;
    width: 98%;
    height: 205px;
  }

  .land-2 {
    background-color: #a1e449;
    top: -20px;
    border-radius: 50%;
    left: -80px;
    width: 150%;
    height: 100px;
  }
}

.card-2-text {
  width: 300px;
  top: 25%;
}

.cloud-section-3 {
  top: -10%;
  left: 100px;
}
.cloud-2-section-3 {
  top: -30%;
  left: 250px;
}
.land {
  .land-1-section-3 {
    top: 68px;
    left: -170px;
    width: 880px;
  }
  .land-2-section-3 {
    top: 142px;
  }
}

.sun {
  .sun-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(245, 248, 80);
    top: -220px;
    left: 40px;
  }

  .sun-light {
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 140px solid rgb(245, 248, 80);
    scale: 0.3;
  }
  .sun-light-1 {
    top: -100px;
  }
  .sun-light-2 {
    right: -65px;
    transform: rotate(120deg);
  }

  .sun-light-3 {
    right: -65px;
    top: -68px;
    transform: rotate(60deg);
  }
  .sun-light-4 {
    transform: rotate(180deg);
    top: 40px;
  }
  .sun-light-5 {
    transform: rotate(240deg);
    top: 10px;
    left: -65px;
  }
  .sun-light-6 {
    transform: rotate(292deg);
    top: -60px;
    left: -68px;
  }
}

.flower {
  .flower-trunk {
    left: 50%;

    width: 8px;
    height: 150px;
    background-color: rgb(199, 157, 18);
  }

  .stament {
    top: -20%;
    left: -10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(245, 248, 80);
  }

  .petal {
    left: 24px;
    width: 50px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(248, 175, 80);
  }
  .petal-2 {
    left: 15px;
    top: 24px;
    rotate: 45deg;
  }
  .petal-3 {
    left: -14px;
    top: 31px;
    rotate: 100deg;
  }
  .petal-4 {
    left: -40px;
    top: 9px;
    rotate: 160deg;
  }
  .petal-5 {
    left: -32px;
    top: -24px;

    rotate: 41deg;
  }
  .petal-6 {
    left: 3px;
    top: -31px;
    rotate: 103deg;
  }
}

.flower-2 {
  scale: 0.7;
  left: 20%;
}

.flower-3 {
  scale: 0.85;
  left: 30%;
}

.flower-4 {
  scale: 0.3;
  left: -50%;
  top: 70px;
}
.flower-5 {
  scale: 0.3;
  left: -45%;
  top: 70px;
}
.flower-6 {
  scale: 1.5;
  left: 50%;
}
.flower-7 {
  top: 35px;
  scale: 0.65;
  left: 14%;
}
.flower-8 {
  top: 80px;
  // scale: 0.6;
  left: 40%;
}
