@use "variables";
// @use "sass:math";

@keyframes slideIn {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}

.section1-text {
  top: 40%;
}
.cloud {
  top: 0%;
  left: 38%;
  scale: 0.8;
  animation: slideDown 0.5s linear;

  .cloud-part-1 {
    position: relative;
    background-color: #37deff;
    width: 150px;
    height: 120px;
    border-radius: 50%;
    .cloud-part-2 {
      position: absolute;
      background-color: #37deff;
      width: 187px;
      top: -30px;
      left: 60px;
      height: 150px;
      border-radius: 50%;
    }
    .cloud-part-3 {
      width: 186px;
      top: -22px;
      left: 130px;
      height: 156px;
    }
  }
}

.cloud-shadow {
  top: 0px;
  left: 15px;
  opacity: 0.08;
  scale: 0.8;
}

.cloud-2 {
  left: 50%;
  top: 15px;
}

// .cloud-section-3 {

//   left: 0;
// }
// .cloud-2-section-3 {

//   left: 50%;
// }

.tree {
  bottom: 80px;
  left: 78%;
  scale: 0.8;
  animation: slideIn 0.5s linear;
  .trunk {
    width: 120px;
    height: 250px;
    background-color: brown;
    box-shadow: 0 0 10px #333;

    .trunk-1 {
      right: 72%;
      width: 220px;
      height: 300px;
      border-radius: 50%;
      background-color: #fff;
    }

    .trunk-2 {
      right: -160%;
      width: 220px;
      height: 300px;
      border-radius: 50%;
      background-color: #fff;
    }
    .trunk-3 {
      right: 45%;
      transform: rotate(358deg);
      bottom: 64%;
      width: 20px;
      height: 50px;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;
      background-color: #ffffff;
    }
  }

  .capony {
    top: -92%;
    left: 141%;
    .canopy-1 {
      top: 100px;
      width: 240px;
      right: -109px;
      height: 170px;
      border-radius: 50%;
      background-color: #5cda5c;
      transform: rotate(-40deg);
    }
    .canopy-2 {
      top: -100%;
      right: -46%;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      background-color: #5cda5c;
      box-shadow: -6px 0 7px #99999961;
    }

    .canopy-1-shadow {
      background-color: #6afa6a;
      opacity: 0.5;
      scale: 0.8;
      top: 78px;
    }
    .canopy-2-shadow {
      background-color: #6afa6a;
      opacity: 0.5;
      scale: 0.8;
      left: -328px;
      top: -27px;
      width: 285px;
      height: 352px;
    }
  }
}

.land-wrapper {
  height: 100px;
  .land-1 {
    background-color: rgb(169, 231, 110);
    top: -80px;
    left: -240px;
    border-radius: 50%;
    width: 100%;
    height: 150px;
  }

  .land-2 {
    background-color: #a1e449;
    top: -20px;
    border-radius: 50%;
    left: -200px;
    width: 150%;
    height: 120px;
  }
}

.section-3 {
  .land {
    .land-1-section-3 {
      left: -50px;
      width: 120%;
      height: 300px;
      background-color: rgb(120, 233, 135);
      border-radius: 34%;
    }
    .land-2-section-3 {
      height: 300px;
      background-color: rgb(71, 223, 91);
    }
  }

  .section-3-text{
    right: 0;
    top: 35%;
    width: 40%;
  }
}

.sun {
  top: 40px;
  left: 10%;
  animation: slideDown 0.5s linear;
  .sun-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(245, 248, 80);
    left: 40px;
  }

  .sun-light {
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 140px solid rgb(245, 248, 80);
    scale: 0.3;
  }
  .sun-light-1 {
    top: -100px;
  }
  .sun-light-2 {
    right: -65px;
    transform: rotate(120deg);
  }

  .sun-light-3 {
    right: -65px;
    top: -68px;
    transform: rotate(60deg);
  }
  .sun-light-4 {
    transform: rotate(180deg);
    top: 40px;
  }
  .sun-light-5 {
    transform: rotate(240deg);
    top: 10px;
    left: -65px;
  }
  .sun-light-6 {
    transform: rotate(292deg);
    top: -60px;
    left: -68px;
  }
}

.flower-wrapper {
  bottom: 250px;
  left: 45%;
}

.flower {
  .flower-trunk {
    left: 50%;
    width: 8px;
    height: 150px;
    background-color: rgb(199, 157, 18);
  }

  .stament {
    top: -20%;
    left: -10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(245, 248, 80);
  }

  .petal {
    left: 24px;
    width: 50px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(248, 175, 80);
  }
  .petal-2 {
    left: 15px;
    top: 24px;
    rotate: 45deg;
  }
  .petal-3 {
    left: -14px;
    top: 31px;
    rotate: 100deg;
  }
  .petal-4 {
    left: -40px;
    top: 9px;
    rotate: 160deg;
  }
  .petal-5 {
    left: -32px;
    top: -24px;

    rotate: 41deg;
  }
  .petal-6 {
    left: 3px;
    top: -31px;
    rotate: 103deg;
  }
}

.flower-wrapper-2 {
  scale: 0.7;
  left: 40%;
  bottom: 220px;
}

.flower-wrapper-3 {
  scale: 0.85;
  left: 20%;
  bottom: 220px;
}

.flower-wrapper-4 {
  scale: 0.3;
  left: 35%;
  bottom: 180px;
}
.flower-wrapper-5 {
  scale: 0.3;
  left: 30%;
  bottom: 170px;
}
.flower-wrapper-6 {
  scale: 1.5;
  left: 70px;
  bottom: 295px;
}
.flower-wrapper-7 {
  bottom: 160px;
  scale: 0.65;
  left: 25px;
}
.flower-wrapper-8 {
  bottom: 220px;
  left: 100px;
}
